<pre>{{ tasks | json }}</pre>

<h1>Tasks</h1>

<div class="input">
  <kra-input
    [placeholder]="'Enter task...'"
    (onSubmit)="handleSubmit($event)"
  ></kra-input>
</div>

<div class="buttons">
  <kra-button
    (click)="clear()"
    (click)="this.clear()"
    [label]="'Clear'"
  ></kra-button>
</div>

<!-- someday maybe -->
<!-- <div class="count">
  <p>3 tasks</p>
</div> -->

<div class="tasks">
  <div
    class="task"
    *ngFor="let task of tasks"
    @fadeSlide
    (click)="remove(task)"
  >
    <div class="content">
      <p>hello</p>
      <!-- <span>{{ time }}</span>
      <span>{{ time | date }}</span>
      <span>{{ time | date:"HH:mm:ss" }}</span>
      <span>{{ task.title }}</span> -->
    </div>
  </div>
</div>
