<h1>Tasks</h1>

<div class="input">
  <kra-input
    [placeholder]="'Enter task...'"
    (onSubmit)="handleSubmit($event)"
  ></kra-input>
</div>

<!-- fake change -->

<div class="buttons">
  <kra-button
    (click)="clear()"
    [label]="'Clear'"
    [disabled]="!!(isEmpty | async)"
  ></kra-button>
</div>

<div class="tasks">
  <div
    class="task"
    *ngFor="let task of tasks | async"
    @fadeSlide
    (click)="remove(task)"
  >
    <div class="content">
      <div class="clock">
        <span class="created">{{ task.created | date : "HH:mm" }} </span>
        <span class="time">{{ task.time | async | date : "mm:ss" }}</span>
      </div>
      <div class="title">{{ task.title }}</div>
    </div>
  </div>
</div>
