@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

$PRIMARY_FONT: "Nunito Sans", sans-serif;

* {
  margin: 0;
  box-sizing: border-box;
}

body,
input,
button {
  font-family: $PRIMARY_FONT;
}

h1 {
  color: white;
}
